<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="zh-CN" class="is-AppPromotionBarVisible cssanimations csstransforms csstransitions flexbox no-touchevents no-mobile">
<head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>我的消息</title>
    <link rel="stylesheet" type="text/css" href="/styles/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/styles/font-awesome.min.css">
    <link rel="stylesheet" media="all" href="/styles/letter.css">
    <script src="/scripts/hm.js"></script>
    <script src="/scripts/detail.js"></script>
    <script type="text/javascript" src="/scripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="/scripts/jquery.qrcode.min.js"></script>
</head>
<body class="posts_show">
    <div th:include="header::top"></div>
    <div id="main">
        <div class="zg-wrap zu-main clearfix ">
            <ul class="letter-list">
                <div th:each="conversation:${conversations}">
                <li id="conversation-item-10005_622873">
                    <a class="letter-link" th:href="|/msg/detail?conversationId=${conversation.get('conversation')?.conversationId}|"></a>
                    <div class="letter-info">
                        <span class="l-time" th:text="${#dates.format(conversation.get('conversation')?.createdDate,'yyyy-MM-dd HH:mm:ss')}"></span>
                        <div class="l-operate-bar">
<!--                            <a href="javascript:void(0);" class="sns-action-del" data-id="10005_622873">-->
<!--                            删除-->
<!--                            </a>-->
                            <a th:href="|/msg/detail?conversationId=${conversation.get('conversation')?.conversationId}|" th:text="|共${conversation.get('conversation').id}条会话|">

                            </a>
                        </div>
                    </div>
                    <div class="chat-headbox">
<!--                        <span class="msg-num" th:value="${conversation.get('unread')?}"></span>-->
                        <span class="msg-num" >1</span>
                        <a class="list-head">
                            <img alt="头像" th:src="${conversation.get('user')?.headUrl}">
                        </a>
                    </div>
                    <div class="letter-detail">
                        <a title="通知" class="letter-name level-color-1" th:text="${conversation.get('user').name}">
                        </a>
                        <p class="letter-brief" th:text="${conversation.get('conversation')?.content}">
                        </p>
                    </div>
                </li>
                </div>
            </ul>
        </div>
    </div>
    <div th:include="header::scripts"></div>
</body></html>